{%extends 'base.html'%}



{%block content%}
{%block style%}

<link rel="stylesheet" href="{{url_for('static', filename = 'profile.css')}}">
{%endblock%}

<div class="row">
    

    <div class="col-md-6">
        {%if current_user.profile_pic%}
        <img src="{{url_for('static', filename = user.profile_pic)}}" alt="">
        {%else%}
       
        <img src="{{url_for('static', filename = 'photos/pexels-annie-untalan-4015334.jpg')}}" alt="">
        {%endif%}
        {{user.username}}
        
        <form action="{{url_for('profile.updateprofile', uname = user.username)}}", method = "post", enctype="multipart/form-data">
            <input type="file"  name = 'photo' required >
            <input type="submit"> 
        </form>
    </div>
    <div class="col-md-6 bio">
        <h3>Bio</h3>
        <p>I am Dancan</p>
    </div>
</div>
{%endblock%}