.blogs{
    margin: 2%;
    padding: 5%;
}
.delete{
    text-align: center;
    width: 100%;
}

.pagetitle{
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color: green;
}

.heading{
    margin: 2%;
}

.comment{
    padding: 1%;
}

.subscriber{
    font-style: italic;
    margin: 1%;
}

.subscriber a{
    color: green;
}

.form{
    margin: 4%;
}

nav{
    color: white;
}

.newblog{
    padding: 3%;
    margin: 7%;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;
}

.newcomment{
    padding: 3%;
    margin: 7%;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;
}