img{
    width: 90%;
    height: 80vh;
    border-radius: 100%;
    margin: 3%;
}

.bio{
    color: black;
    width: 30%;
    height: 40vh;
    margin: 0%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2%;
}