{%extends 'base.html'%}

{%block content%}

{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename ='blogs.css')}}">
{%endblock%}

<p class="subscriber" ><a href="{{url_for('blogs.subscribe')}}">Click here</a> to subscibe for notifications on new blogs</p>
<div class="heading">
   <hr>
   <h1 class="pagetitle">Blogs</h1>
   <hr>
</div>

<div class="blogs card">
   {%for blog in blogs%}
   <h1>{{blog.title}}</h1>
   <p>{{blog.body}}</p>
<hr>
<br>
<br>
   <h4>Comments</h4>
   {%for comment in comments%}

   {%if comment.blog_id == blog.id%}
   <div class="card comment">

      <div class="comment">
         <p>{{comment.title}}</p>
         <p>{{comment.body}}</p>
      </div>

      <div class="delete ">
         <p><a class="btn-danger btn " href="{{url_for('blogs.deletecomment', comment_id = comment.id)}}">Delete Comment</a>
         </p>
      </div>


   </div>
   <br>
   <hr>
   <br>
   {%endif%}
   {%endfor%}
   <p><a class= 'btn-success btn' href="/blogs/{{blog.id}}/new/comments">Add Comment</a></p>
   <p><a class="btn-danger btn" href="{{url_for('blogs.deleteblog', blog_id = blog.id)}}">Delete Blog</a></p>
   {%endfor%}
</div>

{%endblock%}